[mysqld]
character_set_server=utf8mb4
collation_server=utf8mb4_general_ci
default-time-zone='+8:00'
event_scheduler=ON
explicit_defaults_for_timestamp=1
long_query_time=1
max_allowed_packet=128M

[client]
default-character-set=utf8mb4
